.header {
    padding: 8px 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 56px;
}

.header__nav-links {
    display: flex;
    align-items: center;
    gap: 44px;
}

.header__nav-links a {
    font-size: 14px;
    font-weight: 600px;
    color: black;
}

.header_nav-button {
    padding: 12px 30px;
    background-color: #65256F;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}


.services h1 {
    display: flex;
    justify-content: center;
    padding: 28px 10px;
    font-size: 48px;
    font-weight: 400;
}

.pictures__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cow {
    width: 100%;
    height: 100%;
}

.man {
    grid-column: 1/3;
    grid-row: 3/4;
    height: 46%;
    width: 100%;
}

.environment {
    grid-column: 3/4;
    grid-row: 3/4;
    margin-left: 33px;
}